body.page-template-archive-bidprojects{
	#primary{
		background-color: $dk-grey; 
	}
	h2{
		margin-bottom: 0.5em;
	}
}
body.single-bidproject{
	section.dark-stripe{
		color: $lightest-grey;

	}
}
div.all_projects{
	position: relative;
	padding-bottom: 2.0em;
	@include outer-container();
}

.single-bid{
	h3{
		width:100%;
		border-bottom: 1px solid #333;
		margin: 1.25em 0 0.50em;
		padding-bottom: 0.25em;
	}
}
article.project_container{
	@include outer-container();
	position: relative;
	padding:1.0em;
	.date-block{
		display: block;
		width: 6.0em;
		background-color: $dk-grey;
		padding:0.5em;
		position: absolute;
		top:0;
		left:1.0em;
		text-align: center;
		z-index: 667;
	}
	.project_information{
		display: block;
		width:97%;
		background-color: $light-grey;
		position: relative;
		top:0;
		right:0;
		margin: 0 0 0 2.0em;
		z-index: 666;
		padding: 1.0em 1.0em 1.0em 6.5em;
		@include media ($mobile) {
			right:1.0em;
		}
		h2{
			text-align: left;
			padding-left:1.0em;
			a{
				color: #9C9C9C;
				&:hover{
					color:#fff;
				}
			}
		}
	}

	h4{
		color:#9C9C9C;
		font-weight: 400;
		padding-left:2.0em;
		display: block;
		font-size: 1.0em;
		@include media ($mobile) {
			padding-left: 0;
			text-align: center;
		}
	}
	.bid_arrow{
		color:#9C9C9C;
		padding:0 0.5em;
		font-size: 1.5em;
		float:right;
		&:hover{
			color:#fff;
		}
	}
}
