#trans-bars{
	width:100%;
	max-width: $max-width;
	margin: 0 auto;
	position:relative;
}

.background-bar{
	height:120px;
	width:100%;
	background-color: #471d11;
	position:absolute;
	top:0;
	left:0;
}

h5:after {
	border-top: solid 1px black;
	padding-top: 40px;
	margin-top: -40px;
	width:100%;
	display: block;	
	height:20px;
}

#main_slider{
	img{
		width:100%;
	}
}