html{
	background-color: $footer-background;	
}
body {
	font-family: $secondary-font;
}
body.home {
	background-color:#303030;
}
#trans-bars{
	width:100%;
	margin: 0 auto 0;
	position:relative;
	z-index:666;
	left:0;
	right:0;
}

#interior-trans-bars{
	@extend #trans-bars;
	@include clearfix;
	padding-top: 0.35%;
	background-color: #471d11;
	margin-top:0;
}

.background-bar{
	height:120px;
	width:100%;
	background-color: #471d11;
	position:absolute;
	top:0;
	left:0;
}

.interior-background-bar{
	@extend .background-bar;
	height: 128px;
}

#main_slider{
	visibility:hidden;

	div{
		width:100%;

	}
	img{
		width:100%;
	}
}
#holder{
	position: relative;
	display:block;
	@include clearfix;

}
.logo{
	text-align: center;
	img{
		display: block;
		margin: 0.5em auto 2.0em;
		@include media ($mobile) {
			margin: 0.5em auto 0.5em;
		}
	}
}
.ctas{
	padding: 0px 0.75em 0;
	width:100%;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	a{
		display: block;
		background-color: $cta-background-color;
		color:#fff;
		text-transform: uppercase;
		padding:0.5em 1.0em;
		margin-bottom: 0.75em;
		width:100%;
		position: relative;
		&:hover{
			background-color: $cta-background-color-dk;
			&:after{
				background-color: $cta-background-color;
			}
		}
		&:after{
			content: ">";
			display: inline;
			width:20%;
			background-color: $cta-background-color-dk;
			position: absolute;
			right:0;
			top:0;
			bottom: 0;
			text-align: center;
			line-height: 2.3em;
		}	
	}
	@include media ($tablet) {
		display: none;
	}
}
.mission{
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	color:#fff;
	padding:2.0em 2.0em 2.0em 37%;
	position: absolute;
	left:0;
	right:0;
	bottom:8%;
	z-index: 8;
	span{
		display:block;
		width:100%;
		max-width: 40em;
	}
	@include media ($tablet) {
		display:none;
	}
	@include media ($mobile) {
		background-color: transparent;
		position: relative;
		padding:1.0em;
	}
}

.tag{
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	color:#9b9b9b;
	position: absolute;
	top:0;
	left:15%;
	width:20%;
	bottom:0;
	z-index: 9;
	max-width:266px;
	> span{
		display:block;
		position: absolute;
		bottom:12.3%;
		font-family: $primary-font;
		font-weight: 700;
		font-size: 1.45em;
		text-align: right;
		text-transform: uppercase;
		padding:0 1.1em;
		span{
			color: #fff;
		}
	}
	@include media ($tablet) {
		display:none;
	}
}

.mobile-logo{
	display:none;
	@include media ($tablet) {
		display:block;
		text-align: center;
		img{
			display: block;
	    margin: 0 auto;
	    padding: 1.0em;
		}
	}
}

.home_content{
	@include outer-container();
	@include clearfix;
	margin-bottom: 4.0em;
	.home_content-text{
		@include span-columns(8);
		h2{
			font-family: $primary-font;
			padding: 0.5em 0;
			font-weight: 300;
			text-transform: uppercase;
		}
		line-height: 2.0em;
		@include media ($mobile) {
			@include span-columns(12);
			text-align: center;
			padding:0.5em 1.0em;
		}
	}
	.home_content-side{
		@include span-columns(4);
		text-align: right;
		img{
			margin: 1.5em 0;
		}
		@include media ($mobile) {
			@include span-columns(12);
			text-align: center;
		}
	}
}
.home_content_top{
	@include outer-container();
	@include clearfix;
	margin-top: 1.5em;
	margin-bottom: 1.5em
}
.home_content_top-title{
	@include span-columns(6);
	position:relative;
	min-height:1px;
	h2{    
		display: block;
	    padding: 0.5em 0;
	    text-align: center;
	    color: #fff;
	    font-family: "Oswald", sans-serif;
	    text-transform: uppercase;
	    font-size: 2.0em;
	    font-weight: 300;
	    position: absolute;
	    top: 50%;
		left: 25%;
		transform: translate(-50%, 50%);
		border-bottom: 1px solid #fff;
	}

	@media all and (max-width: 1150px) {
		@include span-columns(12);
		text-align: center;
			h2{    
			display: block;
		    padding: 0.5em 0;
		    text-align: center;
		    position: relative;
		    top: 0;
			left: 0;
			transform: none;
			border-bottom: none;
		}
	}
}
.home_content_top-text{
	@include span-columns(6);
	line-height: 2.0;
	@media all and (max-width: 1150px) {
		@include span-columns(12);
		padding:0.5em 1.0em;
	}
}

//-- Row Formatting
.dark-stripe{
	background-color: $dk-grey;
	padding:1.0em 0;
	@include clearfix;
	h2{
		display:block;
		// display:none;
		background-color: $dk-grey-highlight;
		padding: 0.5em 0;
		text-align: center;
		color:#fff;
		font-family: $primary-font;
		text-transform: uppercase;
		font-size: 2.0em;
		font-weight: 300;
	}
	h2.port-header{
		display:none;
	}
}
.light-stripe{
	background-color: $light-grey;
	padding:1.0em 0;
	color: #fff;
	@include clearfix;
}
.light_bg{
	background-color: #eeeeee!important;


}
.nopad{
	padding-top: 1px!important;
}