/*! Version: 2.0.73 (12-Oct-2012) */.mc-hide-scrolls{overflow:hidden}body .mc-cycle{height:100%;left:0;overflow:hidden;position:fixed;top:0;width:100%;z-index:-1}div.mc-image{-webkit-transition:opacity 1s ease-in-out;-moz-transition:opacity 1s ease-in-out;-o-transition:opacity 1s ease-in-out;transition:opacity 1s ease-in-out;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-position:center center;background-repeat:no-repeat;height:100%;overflow:hidden;width:100%}.mc-old-browser .mc-image{overflow:hidden}

#maximage{
	position: relative !important;
}
.in-slide-content {
	color: #333;
	float: right;
	font-family: 'Helvetica Neue', helvetica;
	font-size: 30px;
	font-weight: bold;
	right: 0;
	margin: 40px;
	padding: 20px;
	position: absolute;
	top: 0;
	width: 700px;
	z-index: 9999;
	text-shadow: 0 1px 0 #fff;
	-webkit-font-smoothing: antialiased;
}

.first-block {
    -webkit-transition-delay: 2s; /* Safari */
    transition-delay: 2s;
}