$medium-screen: em(640);

#project-container{
  @include outer-container;
  margin-top: 2.0em;
}

.single-project{
  @include span-columns(4)
}
.hover-tile-outer {

  $hover-tile-height: 10em;

  background-color: #BEB56E;
  border: 1px solid $base-border-color;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  cursor: pointer;
  
  @include media($medium-screen) {
    width: 100%;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, .2s ease-in-out);
    background:inherit;
    color: white;
    height:inherit;
    padding: 1em 1.5em;
  }

  .hover-tile-visible {
    color: transparentize(white, .3);
    font-size: 1.35em;
    font-weight: 200;
    text-align: center;
    padding: 5.9em 0 0;
    span{
      display: block;
      width: 100%;
      background: transparentize($cta-background-color, .3);
      line-height: 1.4em;
      text-transform: uppercase;
      font-family: $primary-font;
    }
  }

  .hover-tile-hidden {
    background: transparentize($cta-background-color, .3);
    h4 {
      margin-bottom: .2em;
      font-family: $primary-font;
    }
    p {
      color: transparentize(white, .3);
      span{
        font-family: $primary-font;
        color:#fff;
      }
    }
  }
}
