$medium-screen: em(640);

#project-container{
  @include outer-container;
  margin-top: 2.0em;
}

.single-project{
  @include span-columns(4);
    &:nth-child(3n+1  ) { margin-right: 0; }
  @include media ($mobile) {
    @include span-columns(12);
  }
}

#filter_block{
  @include clearfix;
  h3{
    font-size: 1.0em;
    font-weight: normal;
    display: block;
    padding: 1.0em 1.0em 1.0em 0;
    float:left;
  }
  ul{
    float:left;
    @include clearfix;
    li{
      display:block;
      padding: 1.0em;
      float:left;
      a{
        color:#bababa;
        &:hover{
          color:#477DCA;
        }
      }
    }
  }
  @include media ($phone) {
    display:none!important;
  }
}

// Tile Hover Styles
.hover-tile-outer {

  $hover-tile-height: 10em;

  background-color: #BEB56E;
  border: 1px solid $base-border-color;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  cursor: pointer;
  
  @include media($medium-screen) {
    width: 100%;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, .2s ease-in-out);
    background:inherit;
    color: white;
    height:inherit;
    padding: 1em 1.5em;
  }

  .hover-tile-visible {
    color: transparentize(white, .3);
    font-size: 1.35em;
    font-weight: 200;
    text-align: center;
    padding: 5.9em 0 0;
    span{
      display: block;
      width: 100%;
      background: transparentize($cta-background-color, .3);
      line-height: 1.4em;
      text-transform: uppercase;
      font-family: $primary-font;
    }
  }

  .hover-tile-hidden {
    background: transparentize($cta-background-color, .3);
    h4 {
      margin-bottom: .2em;
      font-family: $primary-font;
    }
    p {
      color: transparentize(white, .3);
      span{
        font-family: $primary-font;
        color:#fff;
      }
    }
  }
}
