body {
	margin:0;
}
div.portfolio-bg{
	width:100%;
	height:auto;
	overflow:hidden;
	img{
		width:100%;
		height:auto;
	}
}

#main{
	@include outer-container;
}

.pgm{
	img{
		width:100%!important;
		height:auto;
	}
	.canvas{
		width:100%!important;
		height: auto;
	}
}

.single-contain{
	@include outer-container;
	@include clearfix;
}