body {
	margin:0;
}
img {text-decoration: none; border: 0px}
div.portfolio-bg{
	width:100%;
	height:auto;
	overflow:hidden;
	img{
		min-height:100%;
		width:auto;
		min-width: 100%;
		overflow: hidden;
	}
}

#main{
	@include outer-container;
}

.pgm{
	img{
		width:100%!important;
		height:auto;
	}
	.canvas{
		width:100%!important;
		height: auto;
	}
}

.single-contain{
	@include outer-container;
	@include clearfix;
		@include media ($mobile) {
		padding: 1.5em;
	}
}

//Portfolio Styles

#filter_block{
	display: none;
}

.col_list{
	-webkit-columns: 3 200px;
	-moz-columns: 3 200px;
	columns: 3 200px;
	color:#bababa;
	text-align: center;
	padding: 2.0em 0;
}

body.single-portfolio{
	h2{    
		display: block;
    background-color: #242424;
    padding: 0.5em 0;
    text-align: center;
    color: #fff;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 2.0em;
    font-weight: 300;
  }
  .single-contain{
  	color:#bababa;
  	margin-top: 1.0em;
  }
}

.cycle-pager{
	  position: absolute;
    bottom: 0;
    z-index: 9999;
    color: #fff;
    right: 90%;
    font-size: 2.5em;
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}

