div.individual-container{
	@include outer-container;
	@include clearfix;
	margin-top: 0.25em;
}

article.individual-member{
	position: relative;
	@include span-columns(3);
	@include omega;
	img{
		position: relative;
		width:100%;
		height:auto;
		z-index: 10;
		margin: 0;
		padding:0;
		display:block;
	}
	h3{
		color:#ffffff;
		font-weight: 600;
		line-height: 1.0em;
		padding-bottom: 0;
		text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	}
	h4{
		color:#ffffff;
		font-size:1.1em;
		font-weight: 400;
		line-height: 1.0em;
		padding-bottom: 0;
		text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	}
}

div.individual-information{
	text-align:center;
	display:block;
	width: 100%;
	height:auto;
	position: absolute;
	z-index: 16;
	bottom: 6%;
}

article.individual-member a > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.3;
    z-index: 14;
}

article.individual-member a:hover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

article.individual-team-container{
	@include outer-container;
	@include omega;
	@include clearfix;
	div.individual-team-image{
		@include span-columns(6);
	}
}


