body.page-template-archive-team{
	#primary{
		background-color: $dk-grey;
	}
	h2{
		margin-bottom: 0.5em;
	}
}
div.startYear{
  display:none;
}
span.startYears{
  display:inline;
}
div.individual-container{
	width:100%;
	@include outer-container;
	@include clearfix;
  display: none;
	// margin-top: 0.25em;
}

#photographer{
  line-height: 3.0em;
  text-align: center;
}

article.individual-member{
	position: relative;
	width:25%;
	display: block;
	float:left;
	margin-right: 0;
	@include media($tablet) {
		width:50%;
	}
	img{
		position: relative;
		width:100%;
		height:auto;
		z-index: 10;
		margin: 0;
		padding:0;
		display:block;
	}
	h3{
		color:#ffffff;
		font-weight: 600;
		line-height: 1.0em;
		padding-bottom: 0;
		text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
		@include media($mobile) {
			font-size:1.3em;
		}
	}
	h4{
		color:#ffffff;
		font-size:1.1em;
		font-weight: 400;
		line-height: 1.0em;
		padding-bottom: 0;
		text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	}
}

div.individual-information{
	text-align:center;
	display:block;
	width: 100%;
	height:auto;
	position: absolute;
	z-index: 16;
	bottom: 6%;
}

article.individual-member a > div.overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.3;
    z-index: 14;
    top:0;
    left:0;
    display: block;
    margin:0;
    padding:0;

}

article.individual-member a:hover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

article.individual-team-container{
	@include outer-container;
	// @include omega;
	@include clearfix;
	@include media($tablet) {
		padding: 1.0em;
	}
	div.individual-team-image{
		@include span-columns(6);
		img{
			display:block;
		}
	}
}


