//Media Breakpoints
$desktop: new-breakpoint(min-width 990px);
$tablet: new-breakpoint(max-width 860px);
$mobile: new-breakpoint(max-width 767px);
$phone: new-breakpoint(max-width 468px);

// CTAS
$cta-background-color: #0b5359;
$cta-background-color-dk:darken($cta-background-color, 10%);


//Fonts
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'PT Sans', sans-serif;
$base-font-family: $secondary-font!important;

//Rows
$dk-grey: #1c1c1c;
$dk-grey-highlight:#242424;
$light-grey: #303030;
$lightest-grey: #F5F5F5;

$footer-background: #141414;