// CTAS
$cta-background-color: #0b5359;
$cta-background-color-dk:darken($cta-background-color, 10%);


//Fonts
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'PT Sans', sans-serif;

//Rows
$dk-grey: #1c1c1c;
$dk-grey-highlight:#242424;
$light-grey: #303030;

$footer-background: #141414;